<nav class="navbar navbar-expand-md navbar-dark static-top navbar-custom-style shadow">
    <a class="navbar-brand justify-content-center" href="/">
        <div class="brand-custom-style">
            Naiades data docs
        </div>
    </a>
</nav>
<main>
    <router-outlet></router-outlet>
</main>
<footer class="sticky-footer bg-white shadow">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
            <span>Copyright &copy; JSI 2021</span>
        </div>
    </div>
</footer>
